.App {
  text-align: center;
  display: flex;
  /* height: 100vh; */
}

.sidebar {
  width: 25vw;
  height: 100vh;
  display: flex;
  background: black;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  width: 100%;
}

.link {
  background: rgb(107, 114, 128, .5);
  /* border: 2px solid white; */
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  margin: 5px 5px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}